name: Check
on:
  pull_request:
    branches:
      - main

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ubuntu-latest
          - image: windows-latest
    runs-on: ${{ matrix.image }}
    steps:
      - run: git config --global core.autocrlf false
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          mono-dev: packages
          rust: stable
          tool-cargo-install: lfmt=Pistonite/shellutils
      - run: task run-build
      - run: task check
      - run: task test
